.idea
.settings
.scannerwork
target/
output/
.classpath
.project
*.iml
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll 
*.lib
*.sbr
.factorypath

# Arquivo temporario docker
docker-compose.yml